<a href="https://colab.research.google.com/github/Alexsoundra/data-science-bootcamp/blob/main/dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
def fetch_financial_data(company='AMZN'):
    """Pobiera dane dotyczące notowań spółek na giełdzie według symboli
    na serwisie stooq.pl"""
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2021-07-16 to 2016-07-19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [4]:
df

               Open       High        Low    Close   Volume
Date
2021-07-16  3633.31  3646.0599  3570.4550  3573.63  4043706
2021-07-15  3694.20  3695.4000  3620.9200  3631.20  3185292
2021-07-14  3708.85  3717.6600  3660.8266  3681.68  3296568
2021-07-13  3702.10  3773.0782  3671.3200  3677.36  3845917
2021-07-12  3744.00  3757.2899  3696.7929  3718.55  2571635
...             ...        ...        ...      ...      ...
2016-07-25   746.55   748.5000   735.3500   739.61  2396221
2016-07-22   747.79   751.2800   743.5300   744.86  1775547
2016-07-21   747.50   749.3600   742.7920   744.43  1751151
2016-07-20   744.00   746.2500   740.7000   745.72  1993629
2016-07-19   732.50   743.3300   732.3100   739.95  2053395

[1258 rows x 5 columns]

In [5]:
df.head()

               Open       High        Low    Close   Volume
Date
2021-07-16  3633.31  3646.0599  3570.4550  3573.63  4043706
2021-07-15  3694.20  3695.4000  3620.9200  3631.20  3185292
2021-07-14  3708.85  3717.6600  3660.8266  3681.68  3296568
2021-07-13  3702.10  3773.0782  3671.3200  3677.36  3845917
2021-07-12  3744.00  3757.2899  3696.7929  3718.55  2571635

In [6]:
df.head(10)

                 Open       High        Low    Close   Volume
Date
2021-07-16  3633.3100  3646.0599  3570.4550  3573.63  4043706
2021-07-15  3694.2000  3695.4000  3620.9200  3631.20  3185292
2021-07-14  3708.8500  3717.6600  3660.8266  3681.68  3296568
2021-07-13  3702.1000  3773.0782  3671.3200  3677.36  3845917
2021-07-12  3744.0000  3757.2899  3696.7929  3718.55  2571635
2021-07-09  3722.5200  3748.0000  3693.3968  3719.34  3748237
2021-07-08  3643.5600  3759.9855  3621.1200  3731.41  5180623
2021-07-07  3717.3772  3734.2000  3678.9100  3696.58  5328062
2021-07-06  3530.1100  3685.4800  3529.0000  3675.74  6744768
2021-07-02  3451.6400  3511.7200  3436.9200  3510.98  3176697

In [7]:
df.columns = [col.lower() for col in df.columns]
df.head()

               open       high        low    close   volume
Date
2021-07-16  3633.31  3646.0599  3570.4550  3573.63  4043706
2021-07-15  3694.20  3695.4000  3620.9200  3631.20  3185292
2021-07-14  3708.85  3717.6600  3660.8266  3681.68  3296568
2021-07-13  3702.10  3773.0782  3671.3200  3677.36  3845917
2021-07-12  3744.00  3757.2899  3696.7929  3718.55  2571635

In [8]:
df.describe()

              open         high          low        close        volume
count  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03
mean   1842.751054  1861.764033  1821.299276  1842.046308  4.266309e+06
std     840.173467   850.872019   828.301708   839.135848  2.098446e+06
min     730.000000   740.940000   710.100000   719.070000  8.813370e+05
25%    1017.512500  1026.047500  1004.812500  1021.142500  2.877593e+06
50%    1755.000000  1769.750000  1735.630000  1755.125000  3.685278e+06
75%    2311.500000  2346.592250  2257.737575  2312.480000  5.114403e+06
max    3744.000000  3773.078200  3696.792900  3731.410000  1.655260e+07

In [10]:
df.describe().T

         count          mean  ...           75%           max
open    1258.0  1.842751e+03  ...  2.311500e+03  3.744000e+03
high    1258.0  1.861764e+03  ...  2.346592e+03  3.773078e+03
low     1258.0  1.821299e+03  ...  2.257738e+03  3.696793e+03
close   1258.0  1.842046e+03  ...  2.312480e+03  3.731410e+03
volume  1258.0  4.266309e+06  ...  5.114403e+06  1.655260e+07

[5 rows x 8 columns]

In [23]:
df = df.head(10)
df

                 open       high        low    close   volume
Date
2021-07-16  3633.3100  3646.0599  3570.4550  3573.63  4043706
2021-07-15  3694.2000  3695.4000  3620.9200  3631.20  3185292
2021-07-14  3708.8500  3717.6600  3660.8266  3681.68  3296568
2021-07-13  3702.1000  3773.0782  3671.3200  3677.36  3845917
2021-07-12  3744.0000  3757.2899  3696.7929  3718.55  2571635
2021-07-09  3722.5200  3748.0000  3693.3968  3719.34  3748237
2021-07-08  3643.5600  3759.9855  3621.1200  3731.41  5180623
2021-07-07  3717.3772  3734.2000  3678.9100  3696.58  5328062
2021-07-06  3530.1100  3685.4800  3529.0000  3675.74  6744768
2021-07-02  3451.6400  3511.7200  3436.9200  3510.98  3176697

In [12]:
df['open']

Date
2021-07-16    3633.3100
2021-07-15    3694.2000
2021-07-14    3708.8500
2021-07-13    3702.1000
2021-07-12    3744.0000
2021-07-09    3722.5200
2021-07-08    3643.5600
2021-07-07    3717.3772
2021-07-06    3530.1100
2021-07-02    3451.6400
Name: open, dtype: float64

In [13]:
df.open

Date
2021-07-16    3633.3100
2021-07-15    3694.2000
2021-07-14    3708.8500
2021-07-13    3702.1000
2021-07-12    3744.0000
2021-07-09    3722.5200
2021-07-08    3643.5600
2021-07-07    3717.3772
2021-07-06    3530.1100
2021-07-02    3451.6400
Name: open, dtype: float64

In [15]:
df[['open']]

                 open
Date
2021-07-16  3633.3100
2021-07-15  3694.2000
2021-07-14  3708.8500
2021-07-13  3702.1000
2021-07-12  3744.0000
2021-07-09  3722.5200
2021-07-08  3643.5600
2021-07-07  3717.3772
2021-07-06  3530.1100
2021-07-02  3451.6400

In [16]:
df.iloc[:, 0]

Date
2021-07-16    3633.3100
2021-07-15    3694.2000
2021-07-14    3708.8500
2021-07-13    3702.1000
2021-07-12    3744.0000
2021-07-09    3722.5200
2021-07-08    3643.5600
2021-07-07    3717.3772
2021-07-06    3530.1100
2021-07-02    3451.6400
Name: open, dtype: float64

In [17]:

df.iloc[:, [0, 3]]

                 open    close
Date
2021-07-16  3633.3100  3573.63
2021-07-15  3694.2000  3631.20
2021-07-14  3708.8500  3681.68
2021-07-13  3702.1000  3677.36
2021-07-12  3744.0000  3718.55
2021-07-09  3722.5200  3719.34
2021-07-08  3643.5600  3731.41
2021-07-07  3717.3772  3696.58
2021-07-06  3530.1100  3675.74
2021-07-02  3451.6400  3510.98

In [18]:
df.iloc[:, 3:5]

              close   volume
Date
2021-07-16  3573.63  4043706
2021-07-15  3631.20  3185292
2021-07-14  3681.68  3296568
2021-07-13  3677.36  3845917
2021-07-12  3718.55  2571635
2021-07-09  3719.34  3748237
2021-07-08  3731.41  5180623
2021-07-07  3696.58  5328062
2021-07-06  3675.74  6744768
2021-07-02  3510.98  3176697

In [20]:
df.iloc[:, [-1]]

             volume
Date
2021-07-16  4043706
2021-07-15  3185292
2021-07-14  3296568
2021-07-13  3845917
2021-07-12  2571635
2021-07-09  3748237
2021-07-08  5180623
2021-07-07  5328062
2021-07-06  6744768
2021-07-02  3176697

In [24]:
df.iloc[0]

open      3.633310e+03
high      3.646060e+03
low       3.570455e+03
close     3.573630e+03
volume    4.043706e+06
Name: 2021-07-16 00:00:00, dtype: float64

In [25]:
df.loc['2021-07-16']

               open       high       low    close   volume
Date
2021-07-16  3633.31  3646.0599  3570.455  3573.63  4043706